.DS_Store
node_modules/
npm-debug.log
yarn-error.log
.idea/
.vscode/
build/
dist/
scripts/
.babelrc
.editorconfig
.eslintignore
.eslintrc
webpack.config.js
README.md
*.map
examples
test/
tests/
example/
preview/
public/
.browserslistrc
.editorconig
.eslintrc.js
babel.config.js
cypress.json
postcss.config.js
