[data-v-contacts] {
  position: relative;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #eee;

  .character-title {
    text-align: left;
    padding: 5px 20px;
  }

  .character-list {
    position: fixed;
    right: 0;
    top: 0;

    ol {
      padding: 0;
      list-style: none;
      width: auto;

      li {
        width: auto;

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .contacts-list {

    .contact-panel {
      text-align: left;
    }
  }
}
